<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/base.css') }}">
    <!-- Aquí se pueden añadir estilos globales o enlaces a hojas de estilo -->
    <style>
    {% block style %}{% endblock %}
    </style>
</head>
<body>
    <header class="text-gray-600 body-font">
      <div class="container">
        <nav class="navigation">
          <form action="/" method="get"><button type="submit" class="header-button">Inicio</button></form>
          <form action="/listado-canciones" method="get"><button type="submit" class="header-button">Listado Canciones</button></form>
          <form action="/reproductor" method="get"><button type="submit" class="header-button">Reproductor</button></form>
          <form action="/login" method="get"><button type="submit" class="header-button">Iniciar Sesión</button></form>
        </nav>
      </div>
    </header>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <p>APLICACIÓN WEB REALIZADA POR DANIEL ECHEVERRI GUTIÉRREZ</p>
    </footer>
</body>
</html>