<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/base.css') }}">
    <style>
    {% block style %}{% endblock %}
    </style>
</head>
<body>
    <header class="text-gray-600 body-font">
      <div class="container">
        <nav class="navigation">
          <form action="/" method="get"><button type="submit" class="header-button">Inicio</button></form>
          <form action="/listado-canciones" method="get"><button type="submit" class="header-button">Listado Canciones</button></form>
          <form action="/reproductor" method="get"><button type="submit" class="header-button">Reproductor</button></form>
          <form action="/login" method="get"><button type="submit" class="header-button">Iniciar Sesión</button></form>
        </nav>
      </div>
    </header>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <p>APLICACIÓN WEB REALIZADA POR DANIEL ECHEVERRI GUTIÉRREZ</p>
    </footer>
</body>
</html>