{% extends "base.html" %}

{% block title %}
Página de Inicio
{% endblock %}

{% block content %}
    <h1>Bienvenido a mi página web</h1>
    <p>Esta es la página de inicio de mi increíble aplicación web.</p>
    <a href="/login">Iniciar sesión</a> <!-- Botón para ir a la página de login -->
    <a href="/">Inicio</a> <!-- Botón para ir a la página de login -->
    <a href="/listado-canciones">listado canciones</a> <!-- Botón para ir a la página de canciones -->
    <a href="/reproductor">reproductor</a> <!-- Botón para ir a la página de canciones -->
{% endblock %}
