{% extends "base.html" %}
{% block style %}
        .diapositiva-control {
            border: 1px solid #ccc; /* Borde gris claro */
            padding: 5px; /* Espaciado interno */
            margin: 5px; /* Espaciado externo */
            cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
            display: inline-block; /* Asegura que las cajas se muestren en línea */
            background-color: #f8f8f8; /* Fondo claro para las cajas */
            white-space: pre-wrap; /* Mantiene los saltos de línea y espacios */
        }

        .diapositiva-control:hover {
            background-color: #e8e8e8; /* Cambia el fondo al pasar el mouse */
        }

{% endblock %}

{% block content %}
<a href="/">Inicio</a> <!-- Botón para ir a la página de inicio -->
<a href="/listado-canciones">Listado de canciones</a> <!-- Botón para ir a la página de listado de canciones -->

<div id="diapositiva-container">
    <div id="diapositiva-actual">Cargando diapositivas...</div>
    <br>
    <div id="info-cancion">
        <span id="titulo-cancion"></span> - <span id="artista-cancion"></span>
    </div>
</div>
<div id="controles-reproductor">
    <button id="anterior" disabled>Anterior</button>
    <button id="siguiente" disabled>Siguiente</button>
</div>
<!-- Contenedor para selección de diapositivas -->
<div id="seleccion-diapositivas">
    <!-- Las cajas de selección de diapositivas se generarán aquí -->
</div>

<form id="idCancionForm">
    <input type="text" id="idCancion" name="idCancion" placeholder="ID de la canción" required>
    <button type="submit">Cargar Canción</button>
</form>

<h2>Búsqueda de Canciones</h2>

<!-- Campo de Búsqueda -->
<div>
    <input type="text" id="searchInput" placeholder="Buscar por título o letra...">
    <button onclick="buscarCanciones()">Buscar</button>
</div>

<!-- Tabla de Resultados -->
<table id="tabla-canciones">
    <thead>
        <tr>
            <th>ID Canción</th>
            <th>Título</th>
            <th>Artista/Autor</th>
            <th>Idioma</th>
            <th>Letra</th>
        </tr>
    </thead>
    <tbody>
        <!-- Los datos de las canciones se llenarán aquí -->
    </tbody>
</table>

<script>
// Busqueda de canciones:
function buscarCanciones() {
    const query = document.getElementById('searchInput').value;
    fetch(`http://127.0.0.1:8000/buscar-canciones-t-l/?query=${encodeURIComponent(query)}`)
    .then(response => response.json())
    .then(data => {
        const tbody = document.getElementById('tabla-canciones').getElementsByTagName('tbody')[0];
        tbody.innerHTML = ''; // Limpiar la tabla antes de añadir nuevos resultados
        data.forEach(cancion => {
            const row = tbody.insertRow();
            const cellIdCancion = row.insertCell();
            cellIdCancion.textContent = cancion.id_cancion;
            const cellTitulo = row.insertCell();
            cellTitulo.textContent = cancion.titulo;
            const cellArtista = row.insertCell();
            cellArtista.textContent = cancion.artista;
            const cellIdioma = row.insertCell();
            cellIdioma.textContent = cancion.idioma;
            const cellLetra = row.insertCell();
            cellLetra.textContent = cancion.letra;

        });
    })
    .catch(error => console.error('Error:', error));
}


// Variables globales para las diapositivas y los elementos de la interfaz de usuario
let diapositivas = [];
let indiceActual = 0;
let ventanaEmergente = null;

// Función para abrir la ventana emergente
function abrirVentanaEmergente() {
    if (ventanaEmergente === null || ventanaEmergente.closed) {
        ventanaEmergente = window.open("", "Reproductor", "width=800,height=600");

        // Contenido inicial de la ventana emergente, incluido el botón de pantalla completa
        ventanaEmergente.document.write(`
            <div id="diapositiva-container">
                <div id="diapositiva-actual"></div>
                <div id="info-cancion">
                    <span id="titulo-cancion"></span><span id="artista-cancion"></span>
                </div>
            </div>
            <style>
                body { font-family: Arial, sans-serif; margin: 0; padding: 20px; }
                #diapositiva-container { text-align: center; }
                #info-cancion { margin-top: 20px; }
            </style>
        `);
        ventanaEmergente.onload = function() {
            actualizarDiapositiva();
        };
    }
}

// Actualizar la diapositiva actual basándose en el índiceActual
function actualizarDiapositiva() {
    const diapositivaActualDiv = document.getElementById('diapositiva-actual');
    const tituloCancionDiv = document.getElementById('titulo-cancion');
    const artistaCancionDiv = document.getElementById('artista-cancion');
    const nuevoContenido = diapositivas[indiceActual].replace(/\n/g, '<br>');

    // Actualiza elementos en el documento principal
    diapositivaActualDiv.innerHTML = nuevoContenido;
    actualizarInfoCancion(tituloCancionDiv, artistaCancionDiv, diapositivas[indiceActual].trim() === '');

    // Actualiza la ventana emergente si está abierta
    if (ventanaEmergente && !ventanaEmergente.closed) {
        const ventanaDiapositivaActualDiv = ventanaEmergente.document.getElementById('diapositiva-actual');
        const ventanaTituloCancionDiv = ventanaEmergente.document.getElementById('titulo-cancion');
        const ventanaArtistaCancionDiv = ventanaEmergente.document.getElementById('artista-cancion');

        ventanaDiapositivaActualDiv.innerHTML = nuevoContenido;
        actualizarInfoCancion(ventanaTituloCancionDiv, ventanaArtistaCancionDiv, diapositivas[indiceActual].trim() === '');

        // Asegúrate de actualizar también el texto del título y el artista
        ventanaTituloCancionDiv.textContent = tituloCancionDiv.textContent;
        ventanaArtistaCancionDiv.textContent = artistaCancionDiv.textContent;
    }
}


// Función auxiliar para actualizar la información de la canción
function actualizarInfoCancion(tituloDiv, artistaDiv, esDiapositivaVacia) {
    if (esDiapositivaVacia) {
        tituloDiv.style.display = 'none';
        artistaDiv.style.display = 'none';
    } else {
        tituloDiv.style.display = 'inline';
        artistaDiv.style.display = 'inline';
    }
}



// Manejar el envío del formulario y cargar las diapositivas
document.getElementById('idCancionForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const idCancion = document.getElementById('idCancion').value;

    // Aquí se llama a la función abrirVentanaEmergente
    abrirVentanaEmergente();

    fetch(`http://127.0.0.1:8000/canciones/${idCancion}/diapositivas`)
    .then(response => response.json())
    .then(data => {
        diapositivas = [''].concat(data.diapositivas);
        document.getElementById('titulo-cancion').textContent = data.titulo;
        document.getElementById('artista-cancion').textContent = data.artista;

        // Reestablecer el índice y actualizar la interfaz
        indiceActual = 0; // O `1` si quieres empezar por la primera diapositiva real
        actualizarDiapositiva();
        generarControlesDiapositivas(); // Generar los controles de selección de diapositivas
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al cargar las diapositivas. Por favor, verifica que el ID es correcto.');
    });
});

// Manejar clic en el botón "Anterior"
document.getElementById('anterior').addEventListener('click', function() {
    if (indiceActual > 0) {
        indiceActual--;
        actualizarDiapositiva();
    }
});

// Manejar clic en el botón "Siguiente"
document.getElementById('siguiente').addEventListener('click', function() {
    if (indiceActual < diapositivas.length - 1) {
        indiceActual++;
        actualizarDiapositiva();
    }
});

// Manejar las teclas de flecha para la navegación de diapositivas
document.addEventListener('keydown', function(event) {
    if (event.key === 'ArrowLeft' && indiceActual > 0) {
        indiceActual--;
        actualizarDiapositiva();
    } else if (event.key === 'ArrowRight' && indiceActual < diapositivas.length - 1) {
        indiceActual++;
        actualizarDiapositiva();
    }
});

// Generar controles de selección de diapositivas
function generarControlesDiapositivas() {
    const seleccionDiv = document.getElementById('seleccion-diapositivas');
    seleccionDiv.innerHTML = ''; // Limpia los controles existentes
    diapositivas.forEach((diapositiva, index) => {
        const diapositivaDiv = document.createElement('div');
        diapositivaDiv.innerHTML = diapositiva.replace(/\n/g, '<br>') || 'Sin texto'; // 'Sin texto' para diapositivas vacías
        diapositivaDiv.className = 'diapositiva-control';
        diapositivaDiv.onclick = () => seleccionarDiapositiva(index);
        seleccionDiv.appendChild(diapositivaDiv);
    });
}

// Función para manejar la selección de diapositiva
function seleccionarDiapositiva(index) {
    indiceActual = index;
    actualizarDiapositiva();
}
</script>
{% endblock %}
