{% extends "base.html" %}
{% block style %}
        .diapositiva-control {
            border: 1px solid #ccc; /* Borde gris claro */
            padding: 5px; /* Espaciado interno */
            margin: 5px; /* Espaciado externo */
            cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
            display: inline-block; /* Asegura que las cajas se muestren en línea */
            background-color: #f8f8f8; /* Fondo claro para las cajas */
            white-space: pre-wrap; /* Mantiene los saltos de línea y espacios */
        }

        .diapositiva-control:hover {
            background-color: #e8e8e8; /* Cambia el fondo al pasar el mouse */
        }

        #diapositiva-container {
            font-size: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;;
            align-items: center;
            border: 2px solid #000; /* Borde negro */
            padding: 20px; /* Espacio interno */
            margin: auto; /* Centra el div horizontalmente */
            width: 50%; /* Ancho del contenedor, ajustable según tus necesidades */
            height: 300px;
            overflow: auto;
            text-align: center; /* Alinea el texto al centro */
        }

        #info-cancion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
            padding: 10px;
            font-size: 2vw;
        }
{% endblock %}

{% block content %}
<br>
<br>
<div align="center" id="Previsualizador">
        <form id="idCancionForm">
            <input type="text" id="idCancion" name="idCancion" placeholder="ID de la canción" required>
            <button type="submit">Cargar Canción</button>
        </form>

    <div id="diapositiva-container">
        <div id="diapositiva-actual"></div>
        <br>
        <div id="info-cancion">
            <span id="titulo-cancion">Titulo: </span><span id="artista-cancion">Artista: </span>
        </div>
    </div>
        <div id="controles-reproductor" align="center">
            <button id="anterior">Anterior</button>
            <button id="sin-texto">SIN TEXTO</button>
            <button id="siguiente">Siguiente</button>
        </div>
    </div>


<div id="seleccion-diapositivas" align="center">
    <!-- Las cajas de selección de diapositivas se generarán aquí -->
</div>


<div align="center">
    <h2>Búsqueda de Canciones</h2>
    <!-- Campo de Búsqueda -->
    <div>
        <input type="text" id="searchInput" placeholder="Buscar por título o letra...">
        <button onclick="buscarCanciones()">Buscar</button>
    </div>
</div>
<br>
<!-- Tabla de Resultados -->
<table id="tabla-canciones" align="center">
    <thead>
        <tr>
            <th>ID Canción</th>
            <th>Título</th>
            <th>Artista/Autor</th>
            <th>Idioma</th>
            <th>Temática</th>
            <th>Letra</th>
        </tr>
    </thead>
    <tbody>
        <!-- Los datos de las canciones se llenarán aquí -->
    </tbody>
</table>

<script>
// Busqueda de canciones:
function buscarCanciones() {
    const query = document.getElementById('searchInput').value;
    fetch(`{{ base_url }}buscar-canciones-t-l/?query=${encodeURIComponent(query)}`)
    .then(response => response.json())
    .then(data => {
        const tbody = document.getElementById('tabla-canciones').getElementsByTagName('tbody')[0];
        tbody.innerHTML = ''; // Limpiar la tabla antes de añadir nuevos resultados
        data.forEach(cancion => {
            const row = tbody.insertRow();
            const cellIdCancion = row.insertCell();
            cellIdCancion.textContent = cancion.id_cancion;
            cellIdCancion.style.fontWeight = 'bold'; // Aplica negrita
            cellIdCancion.style.textAlign = 'center'; // Centra el texto
            const cellTitulo = row.insertCell();
            cellTitulo.textContent = cancion.titulo;
            const cellArtista = row.insertCell();
            cellArtista.textContent = cancion.artista;
            const cellIdioma = row.insertCell();
            cellIdioma.textContent = cancion.idioma;
            const cellTematica = row.insertCell();
            cellTematica.textContent = cancion.tematica;
            const cellLetra = row.insertCell();
            cellLetra.textContent = cancion.letra;

        });
    })
    .catch(error => console.error('Error:', error));
}


// Variables globales para las diapositivas y los elementos de la interfaz de usuario
let diapositivas = [];
let indiceActual = 0;
let ventanaEmergente = null;

// Función para abrir la ventana emergente
function abrirVentanaEmergente() {
    if (ventanaEmergente === null || ventanaEmergente.closed) {
        ventanaEmergente = window.open("", "Reproductor", "width=800,height=600");

        // Contenido inicial de la ventana emergente, incluido el botón de pantalla completa
        ventanaEmergente.document.write(`
            <div id="diapositiva-container">
                <div id="diapositiva-actual"></div>
                <div id="info-cancion">
                    <span id="titulo-cancion-container">Título: <span id="titulo-cancion"></span></span>
                    <span id="artista-cancion-container">Artista: <span id="artista-cancion"></span></span>
                    <button id="boton-pantalla-completa" onclick="toggleFullScreen()" style="display: none;">Pantalla Completa</button>
                </div>
            </div>
            <style>
                body { font-family: Arial, sans-serif; margin: 0; padding: 20px; }
                #diapositiva-actual {
                    font-size: 5vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 90vh;
                    text-align: center;
                    padding: 10px;
                }
                #diapositiva-container { text-align: center; }
                #info-cancion {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.8); // Fondo semitransparente
                    padding: 10px;
                    font-size: 2vw;
                }
                #titulo-cancion-container {
                    text-align: left;
                    flex-grow: 1;
                }
                #artista-cancion-container {
                    text-align: right;
                    flex-grow: 1;
                    margin-right: 40px;
                    overflow: hidden; // Evita que el contenido se desborde
                    text-overflow: ellipsis; // Muestra puntos suspensivos si el texto se desborda
                    white-space: nowrap; //
                }
            </style>
        `);

        // Función para activar el modo de pantalla completa en la ventana emergente
        ventanaEmergente.toggleFullScreen = function() {
            if (!ventanaEmergente.document.fullscreenElement) {
                ventanaEmergente.document.documentElement.requestFullscreen();
            } else {
                if (ventanaEmergente.document.exitFullscreen) {
                    ventanaEmergente.document.exitFullscreen();
                }
            }
        };

        ventanaEmergente.onload = function() {
            actualizarDiapositiva();
        };
    }
}


// Actualizar la diapositiva actual basándose en el índiceActual
function actualizarDiapositiva() {
    const diapositivaActualDiv = document.getElementById('diapositiva-actual');
    const tituloCancionDiv = document.getElementById('titulo-cancion');
    const artistaCancionDiv = document.getElementById('artista-cancion');
    const nuevoContenido = diapositivas[indiceActual].replace(/\n/g, '<br>');

    // Actualiza elementos en el documento principal
    diapositivaActualDiv.innerHTML = nuevoContenido;
    actualizarInfoCancion(tituloCancionDiv, artistaCancionDiv, diapositivas[indiceActual].trim() === '');

    // Actualiza la ventana emergente si está abierta
    if (ventanaEmergente && !ventanaEmergente.closed) {
        const ventanaDiapositivaActualDiv = ventanaEmergente.document.getElementById('diapositiva-actual');
        const ventanaTituloCancionDiv = ventanaEmergente.document.getElementById('titulo-cancion');
        const ventanaArtistaCancionDiv = ventanaEmergente.document.getElementById('artista-cancion');

        ventanaDiapositivaActualDiv.innerHTML = nuevoContenido;
        actualizarInfoCancion(ventanaTituloCancionDiv, ventanaArtistaCancionDiv, diapositivas[indiceActual].trim() === '');

        // Asegúrate de actualizar también el texto del título y el artista
        ventanaTituloCancionDiv.textContent = tituloCancionDiv.textContent;
        ventanaArtistaCancionDiv.textContent = artistaCancionDiv.textContent;
    }
}


// Función auxiliar para actualizar la información de la canción
function actualizarInfoCancion(tituloDiv, artistaDiv, esDiapositivaVacia) {
    const tituloContainer = ventanaEmergente.document.getElementById('titulo-cancion-container');
    const artistaContainer = ventanaEmergente.document.getElementById('artista-cancion-container');

    if (esDiapositivaVacia) {
        tituloContainer.style.display = 'none';
        artistaContainer.style.display = 'none';
        ventanaEmergente.document.getElementById('boton-pantalla-completa').style.display = 'block';
    } else {
        tituloContainer.style.display = 'block';
        artistaContainer.style.display = 'block';
        ventanaEmergente.document.getElementById('boton-pantalla-completa').style.display = 'none';
    }
}




// Manejar el envío del formulario y cargar las diapositivas
document.getElementById('idCancionForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const idCancion = document.getElementById('idCancion').value;

    // Aquí se llama a la función abrirVentanaEmergente
    abrirVentanaEmergente();

    fetch(`{{ base_url }}canciones/${idCancion}/diapositivas`)
    .then(response => response.json())
    .then(data => {
        diapositivas = [''].concat(data.diapositivas);
        document.getElementById('titulo-cancion').textContent = data.titulo;
        document.getElementById('artista-cancion').textContent = data.artista;

        // Reestablecer el índice y actualizar la interfaz
        indiceActual = 0; // O `1` si quieres empezar por la primera diapositiva real
        actualizarDiapositiva();
        generarControlesDiapositivas(); // Generar los controles de selección de diapositivas
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al cargar las diapositivas. Por favor, verifica que el ID es correcto.');
    });
});

// Manejar clic en el botón "Anterior"
document.getElementById('anterior').addEventListener('click', function() {
    if (indiceActual > 0) {
        indiceActual--;
        actualizarDiapositiva();
    }
});

// Manejar clic en el botón "sin-texto"
document.getElementById('sin-texto').addEventListener('click', function() {
    indiceActual = 0;
    actualizarDiapositiva();
});

// Manejar clic en el botón "Siguiente"
document.getElementById('siguiente').addEventListener('click', function() {
    if (indiceActual < diapositivas.length - 1) {
        indiceActual++;
        actualizarDiapositiva();
    }
});

// Manejar las teclas de flecha para la navegación de diapositivas
document.addEventListener('keydown', function(event) {
    if (event.key === 'ArrowLeft' && indiceActual > 0) {
        indiceActual--;
        actualizarDiapositiva();
    } else if (event.key === 'ArrowRight' && indiceActual < diapositivas.length - 1) {
        indiceActual++;
        actualizarDiapositiva();
    }
});

// Generar controles de selección de diapositivas
function generarControlesDiapositivas() {
    const seleccionDiv = document.getElementById('seleccion-diapositivas');
    seleccionDiv.innerHTML = ''; // Limpia los controles existentes
    diapositivas.forEach((diapositiva, index) => {
        const diapositivaDiv = document.createElement('div');
        diapositivaDiv.innerHTML = diapositiva.replace(/\n/g, '<br>') || 'Sin texto'; // 'Sin texto' para diapositivas vacías
        diapositivaDiv.className = 'diapositiva-control';
        diapositivaDiv.onclick = () => seleccionarDiapositiva(index);
        seleccionDiv.appendChild(diapositivaDiv);
    });
}

// Función para manejar la selección de diapositiva
function seleccionarDiapositiva(index) {
    indiceActual = index;
    actualizarDiapositiva();
}
</script>
{% endblock %}
